body {
  background-color: #967474;
}

#mapId {
  height: 180px;
  width: 70%;
  background-color: #e2e2e2;
  margin-left: 300px;
  margin-top: 0;
}

.form {
  width: 30%;
}

h1 {
  text-align: center;
  color: aqua;
  background-color: #e1e1e1;
  font-size: 50px;
}
